.git
.github
.air.toml
.env
.env.*
!.env.example
art
config.json
bootstrap
docker-compose.yml
examples
kubernetes
node_modules
public/build
public/hot
tmp
.DS_Store
Taskfile.yaml
Taskfile.yml
Procfile*
